.booking-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px; 
  display: flex;
  flex-direction: column;
  gap: 12px; 
 
}

.event-summary-card {
  background-color: var(--grey-10);
  padding: 15px; 
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-summary-card h2 {
  margin: 0 0 8px;
  font-size: 1.3rem;
  color: var(--secondary-110);
}

.event-summary-card p {
  margin: 3px 0;
  font-size: 0.9rem;
  color: var(--secondary-100);
}

.form-card {
  background-color: var(--grey-10);
  padding: 15px;  
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 350px); 
  overflow-y: auto; 
}

.form-card h2 {
  margin-top: 0;
  margin-bottom: 15px; 
  font-size: 1.3rem;
  color: var(--secondary-110);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 0.9rem; 
  color: var(--secondary-100);
}

.form-group input {
  width: 100%;
  padding: 8px;  
  font-size: 0.9rem; 
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-100);
  box-shadow: 0 0 5px rgba(242, 108, 249, 0.4);
}

.inline-group {
  display: flex;
  gap: 15px;
}

.form-group-inline {
  flex: 1;
}

.submit-button {
  width: 100%;
  padding: 12px;  
  background-color: var(--primary-100);
  border: none;
  color: var(--grey-10);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--primary-90);
}

@media (max-width: 600px) {
  .inline-group {
    flex-direction: column;
  }
}
